# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

./CAPTURE_analysis/

*.mat
*.sh
*.out
# Windows Installer files
*.cab
*.msi
*.msm
*.msp

*.png
*.pyc
*/__pycache__/

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
